@page
@model frontend.Pages.AziendaAgricola.OfferteGestoriModel
@{
    ViewData["Page"] = "Offerte Gestori";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<div style="margin: 1em;">
    <h4>Offerte gestori</h4>
    <small>• Vengono visualizzate tutte le offerte d'acqua di tutti i gestori idrici. &Egrave; possibile acquistare una quantità di acqua entro i limiti consentiti. </small>
    <hr style="margin-top: 0.5em; margin-bottom: 1em;">
    
    @if (TempData.ContainsKey("Messaggio"))
    {
        <div class="alert alert-info" role="alert">
            @TempData["Messaggio"]
        </div>
    }

    @if (TempData.ContainsKey("MessaggioErrore"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessaggioErrore"]
        </div>
    }

    <!-- Limite di acquisto per la data odierna -->
    <h6>Limite di acquisto giornaliero impostato a
    @if(Model.LimiteAcquistoAzienda==null)
    {
            <text>
                <label style="background-color:indianred; padding: 0px 10px 0px 10px; border-radius: 15px; color:white">
                    Nessun limite presente.
                </label>
            </text>
    }
    else
    {
            <text>
                <label style="background-color:cornflowerblue; padding: 0px 10px 0px 10px; border-radius: 15px; color:white">
                    @Model.LimiteAcquistoAzienda litri
                </label>
                
            </text>
    }
    </h6>

    <!-- Tabella offerte -->
    @if(Model.Offerte==null)
    {
        <label>Nessuna offerta presente.</label>
    }
    else
    {
        <table id="tabOfferte" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data Disponibilità</th>
                    <th>Prezzo Litro</th>
                    <th>Quantità d'Acqua Disponibile (litri)</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var offerta in Model.Offerte)
                {
                    <tr>
                        <td>@offerta.Id</td>
                        <td>@offerta.DataAnnuncio</td>
                        <td>@offerta.PrezzoLitro</td>
                        <td>@offerta.Quantita</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalOrdine_@offerta.Id">Acquista</button>
                        </td>
                    </tr>

                    <!-- Modale per l'ordine di acquisto -->
                    <div id="modalOrdine_@offerta.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalOrdine_@offerta.Id" aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabelOrdine\@offerta.Id">Acquista acqua dall'offerta ID @offerta.Id</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" asp-page-handler="OrdineAcquisto">
                                        <div class="form-group">
                                            <label for="colturaSelect">Seleziona la coltura per la quale acquistare le risorse</label>
                                            <select class="form-control" id="colturaSelect_@offerta.Id" name="colturaId" required>
                                                <option value="null">Seleziona la coltura</option>
                                                @foreach (var coltura in Model.Colture)
                                                {
                                                    /*@foreach (var stima in Model.CampiAcquaStimata)
                                                    {
                                                        if (coltura.Id == stima.CampoId)
                                                        {
                                                            <option value="@coltura.Id-@coltura.TipoColtura-@coltura.MetriQuadrati-@stima.TotaleStimato-@stima.TotaleRimanente">
                                                                Id @coltura.Id - @coltura.TipoColtura - @coltura.MetriQuadrati mq
                                                            </option>
                                                        }
                                                    }*/
                                                    <option value="@coltura.Id-@coltura.TipoColtura-@coltura.MetriQuadrati">
                                                        Id @coltura.Id - @coltura.TipoColtura - @coltura.MetriQuadrati mq
                                                    </option>
                                                }
                                            </select>

                                        </div>

                                        <div class="form-group">
                                            <label for="quantitaAcquisto">Quantità d'acqua da acquistare per la coltura selezionata</label>
                                            <input type="number" class="form-control" id="quantitaAcquisto" name="quantitaAcquisto" step="0.01" min="1" max="@offerta.Quantita" placeholder="00,00" required>
                                        </div>
                                        <hr style="margin-top: 0.5em; margin-bottom: 1em;">

                                        <h5>Stime campo</h5>
                                        <small>• Vengono visualizzate le stime dei fabbisogni idrici del campo selezionato.</small>
                                        <div class="coltura-info_@offerta.Id">
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                document.getElementById("colturaSelect_@offerta.Id").addEventListener("change", function () {
                                                    var selectedOption = this.options[this.selectedIndex];
                                                    updateColturaInfo(selectedOption);
                                                });

                                                $('#modalOrdine_@offerta.Id').on('shown.bs.modal', function () {
                                                    // Ottieni l'opzione attualmente selezionata
                                                    var selectedOption = document.getElementById("colturaSelect_@offerta.Id").options[document.getElementById("colturaSelect").selectedIndex];
                                                    // Aggiorna le stime quando la modale viene aperta
                                                    updateColturaInfo(selectedOption);
                                                });

                                                function updateColturaInfo(selectedOption) {
                                                    var colturaInfoDiv = document.querySelector('.coltura-info_@offerta.Id');
                                                    var values = selectedOption.value.split('-').map(function (item) {
                                                        return item.trim();
                                                    });

                                                    if (values.length >= 5) {
                                                        colturaInfoDiv.innerHTML = `
                                                                Totale giornaliero stimato da acquistare per il campo: ${values[3]} litri<br>
                                                                Risorse rimanenti da acquistare per soddisfare le stime:
                                                                <label style="background-color:cornflowerblue; padding: 0px 10px 0px 10px; border-radius: 15px; color:white">
                                                                    ${values[4]} litri
                                                                </label>
                                                            `;
                                                    } else {
                                                        colturaInfoDiv.innerHTML = "Impossibile recuperare le informazioni sulla coltura selezionata.";
                                                    }
                                                }
                                            });
                                        </script>
                                        <hr style="margin-top: 0.5em; margin-bottom: 1em;">

                                        <input type="hidden" id="offertaId" name="offertaId" value="@offerta.Id" readonly />
                                        <button type="submit" class="btn btn-primary">Conferma Acquisto</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </tbody>
        </table>
    }
    
</div>
