@page
@model frontend.Pages.AziendaAgricola.StoricoDispositiviModel
@{
    ViewData["Page"] = "Storico Dispositivi";
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<div style="margin: 1em;">
    <h4>Storico dispositivi</h4>
    <small>• Viene visualizzato lo storico delle misurazioni dei sensori e le azioni degli attuatori.</small>
    <hr style="margin-top: 0.5em; margin-bottom: 1em;">
    <div style="display:flex;">
        <div style="display:block; padding-right:1em;">
            <h4>Sensori di Umidità</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID sensore</th>
                        <th>Tipo sensore</th>
                        <th>Data/Ora misurazione</th>
                        <th>Umidità</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.SensoriUmiditaLogs)
                    {
                        <tr>
                            <td>@log.Id</td>
                            <td>@log.Tipo</td>
                            <td>@log.Time</td>
                            <td>@log.Umidita</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        

        <div style="display:block; padding-right:1em;">
            <h4>Sensori di Temperatura</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID sensore</th>
                        <th>Tipo sensore</th>
                        <th>Data/Ora misurazione</th>
                        <th>Temperatura (C°)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.SensoriTemperaturaLogs)
                    {
                        <tr>
                            <td>@log.Id</td>
                            <td>@log.Tipo</td>
                            <td>@log.Time</td>
                            <td>@log.Temperatura</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        

        <div style="display:block; padding-right:1em;">
            <h4>Azioni Attuatori</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID attuatore</th>
                        <th>Data/Ora attivazione</th>
                        <th>Stato (Attivo/Disattivo)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.AttuatoriLogs)
                    {
                        <tr>
                            <td>@log.Id</td>
                            <td>@log.Time</td>
                                @if (log.Attivo == true)
                                {
                                    <td>Attivo</td>
                                }
                                else
                                {
                                    <td>Disattivo</td>
                                }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>
