<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Page"] - Sistema Idrico</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
        
<body>
    <!--Navbar-->
    <nav class="border-bottom">
        <a class="mynav-link" asp-page="/Index">
            <img class="logo" src="~/media/images/logo-sistema-idrico-nobg.png" alt="Sistema Idrico Logo" />
            <label class="mynav-title">Sistema Idrico</label>
        </a>
    </nav>

    <!-- Parte centrale -->
    <div class="flex-container @(ViewData["Page"] as string == "Index" ? "hide-aside" : "")">
        @if (User.IsInRole("GSI"))
        {
            <!-- Aside per l'utente GSI -->
            <aside>
                <a href="/DatiAccount" class="@((ViewData["Page"] as string == "Dati Account") ? "current-page" : "")">Dati account</a>
                <a href="/GestoreIdrico/OffertaLimiti" class="@((ViewData["Page"] as string == "Offerta e limiti") ? "current-page" : "")">Offerta e limiti</a>
                <a href="/GestoreIdrico/RichiesteAdesione" class="@((ViewData["Page"] as string == "Richieste Adesione") ? "current-page" : "")">Richieste Adesione</a>
                <a href="/GestioneColture" class="@((ViewData["Page"] as string == "Gestione Colture") ? "current-page" : "")">Gestione Colture</a>
                <a href="/GestoreIdrico/ConsumiAziende" class="@((ViewData["Page"] as string == "Consumi Aziende") ? "current-page" : "")">Consumi Aziende</a>
                <a href="/GestoreIdrico/StoricoVendite" class="@((ViewData["Page"] as string == "Storico Vendite") ? "current-page" : "")">Storico Vendite</a>

            </aside>
        }
        else if (User.IsInRole("GAA"))
        {
            <!-- Aside per l'utente GAA -->
            <aside>
                <a href="/DatiAccount" class="@((ViewData["Page"] as string == "Dati Account") ? "current-page" : "")">Dati account</a>
                <a href="/GestioneColture" class="@((ViewData["Page"] as string == "Gestione Colture") ? "current-page" : "")">Gestione Colture</a>
                <a href="/AziendaAgricola/OfferteGestori" class="@((ViewData["Page"] as string == "Offerte Gestori") ? "current-page" : "")">Offerte Gestori</a>
                <a href="/AziendaAgricola/StoricoConsumi" class="@((ViewData["Page"] as string == "Storico Consumi") ? "current-page" : "")">Storico Consumi</a>
                <a href="/AziendaAgricola/StoricoDispositivi" class="@((ViewData["Page"] as string == "Storico Dispositivi") ? "current-page" : "")">Storico Dispositivi</a>  
            </aside>
        }



        <!-- aside temporanea -->
        <aside>
            Aside temporanea<br />
            Aside azienda agricola<br />
            <a href="/DatiAccount" class="@((ViewData["Page"] as string == "Dati Account") ? "current-page" : "")">Dati account</a>
            <a href="/GestioneColture" class="@((ViewData["Page"] as string == "Gestione Colture") ? "current-page" : "")">Gestione Colture</a>
            <a href="/AziendaAgricola/OfferteGestori" class="@((ViewData["Page"] as string == "Offerte Gestori") ? "current-page" : "")">Offerte Gestori</a>
            <a href="/AziendaAgricola/StoricoConsumi" class="@((ViewData["Page"] as string == "Storico Consumi") ? "current-page" : "")">Storico Consumi</a>
            <a href="/AziendaAgricola/StoricoDispositivi" class="@((ViewData["Page"] as string == "Storico Dispositivi") ? "current-page" : "")">Storico Dispositivi</a>
            <br />
            Aside gestori idrici<br />
            <a href="/DatiAccount" class="@((ViewData["Page"] as string == "Dati Account") ? "current-page" : "")">Dati account</a>
            <a href="/GestoreIdrico/OffertaLimiti" class="@((ViewData["Page"] as string == "Offerta e limiti") ? "current-page" : "")">Offerta e limiti</a>
            <a href="/GestoreIdrico/RichiesteAdesione" class="@((ViewData["Page"] as string == "Richieste Adesione") ? "current-page" : "")">Richieste Adesione</a>
            <a href="/GestioneColture" class="@((ViewData["Page"] as string == "Gestione Colture") ? "current-page" : "")">Gestione Colture</a>
            <a href="/GestoreIdrico/ConsumiAziende" class="@((ViewData["Page"] as string == "Consumi Aziende") ? "current-page" : "")">Consumi Aziende</a>
            <a href="/GestoreIdrico/StoricoVendite" class="@((ViewData["Page"] as string == "Storico Vendite") ? "current-page" : "")">Storico Vendite</a>
        </aside>




        <!-- Main -->
        <main role="main">
            @RenderBody()
        </main>

    </div>

    <!--Footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Progetto P.I.S.S.I.R. e Applicazioni Web
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
