@page
@model frontend.Pages.GestoreIdrico.OffertaLimitiModel
@{
    ViewData["Page"] = "Offerta e limiti";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<div style="margin: 1em;">
    <h4>Offerta e limiti</h4>
    <small>• Inserimento e consultazione delle offerte idriche giornaliere dell'Azienda Idrica, e gestione dei limiti di acquisto per le Aziende Agricole.</small>
    <hr style="margin-top: 0.5em; margin-bottom: 1em;">

    @if (TempData.ContainsKey("Messaggio"))
    {
        <div class="alert alert-info" role="alert">
            @TempData["Messaggio"]
        </div>
    }

    @if (TempData.ContainsKey("MessaggioErrore"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessaggioErrore"]
        </div>
    }

    <!-- Sezione Inserimento Offerta Idrica -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.5em;">
        <h5>Elenco Offerte Idriche</h5>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalInserisciModificaOfferta">Inserisci Offerta</button>
    </div>
    
    

    <!-- Modale per l'inserimento dell'offerta -->
    <div id="modalInserisciModificaOfferta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInserisciModificaOfferta" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelInserisciModificaOfferta">Inserisci una nuova Offerta Idrica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="InserisciOfferta" id="formInserimentoOfferta">
                        <div class="form-group">
                            <label for="quantitaAcqua">Quantità di acqua disponibile da offrire (Litri):</label>
                            <input type="number" class="form-control" id="quantitaAcqua" name="quantitaAcqua" step="0.01" min="0" required placeholder="00,00" />
                        </div>
                        <div class="form-group">
                            <label for="dataFine">Data disponibilità d'acqua</label>
                            <input type="date" class="form-control" id="dataDisp" name="dataDisp" required />
                        </div>
                        <div class="form-group">
                            <label for="prezzoAcqua">Prezzo acqua al litro (Litro/€):</label>
                            <input type="number" class="form-control" id="prezzoAcqua" name="prezzoAcqua" step="0.01" min="0" required placeholder="00,00€" />
                        </div>
                        <button type="submit" class="btn btn-primary" id="confermaOffertaButton">Inserisci Nuova Offerta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    @if (Model.OfferteInserite == null)
    {
        <h6>Nessuna offerta in elenco.</h6>
    }
    else
    {
        <table id="tabOfferteIdriche" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data disponibilità</th>
                    <th>Prezzo al Litro</th>
                    <th>Quantità (litri)</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offerta in Model.OfferteInserite)
                {
                    <tr>
                        <td>@offerta.Id</td>
                        <td>@offerta.DataAnnuncio</td>
                        <td>@offerta.PrezzoLitro</td>
                        <td>@offerta.Quantita</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalModifica\@offerta.Id">Modifica</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#modalElimina\@offerta.Id">Elimina</button>

                            <!-- Modale per la modifica del parametro -->
                            <div id="modalModifica\@offerta.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal\@offerta.Id" data-backdrop="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel\@offerta.Id">Modifica Offerta #@offerta.Id</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-page-handler="ModificaOfferta">
                                                <div class="form-group">
                                                    <label for="metriQuadrati">Nuova quantità di acqua disponibile da offrire (Litri):</label>
                                                    <input type="number" class="form-control" id="nuovaQuantita" name="nuovaQuantita" step="0.01" value="@offerta.Quantita">
                                                </div>
                                                <small>Il prezzo dell'offerta non è modificabile!</small>
                                                <br /><br />
                                                <input type="hidden" id="offertaId" name="offertaId" value="@offerta.Id" readonly />
                                                <button type="submit" class="btn btn-primary">Conferma modifiche</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modale per la conferma eliminazione -->
                            <div id="modalElimina\@offerta.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalConfermaEliminazione\@offerta.Id" aria-hidden="true" data-backdrop="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalElimina\@offerta.Id">Eliminazione Offerta #@offerta.Id</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-page-handler="EliminaOfferta">
                                                <input type="hidden" id="offertaId" name="offertaId" value="@offerta.Id" readonly />
                                                <p>Sei sicuro di voler eliminare l'offerta #@offerta.Id?</p>
                                                <button type="submit" class="btn btn-danger">Elimina</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


    
    
    <!-- Sezione Inserimento Limite 
    <hr style="margin-top: 1em; margin-bottom: 1em;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.5em;">
        <div>
            <h5>Gestione Limite di vendita giornaliero</h5>
            <label>Imposta il limite globale d'acqua giornaliero vendibile dalla tua azienda.</label>
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalImpostaLimite">Imposta Limite</button>
    </div>-->

    @if (TempData.ContainsKey("MessaggioLimite"))
    {
        <div class="alert alert-info" role="alert">
            @TempData["MessaggioLimite"]
        </div>
    }

    @if (TempData.ContainsKey("MessaggioErroreLimite"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessaggioErroreLimite"]
        </div>
    }

    <!-- Modale per l'inserimento del limite di vendita giornaliero 
    <div id="modalImpostaLimite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalImpostaLimite" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelImpostaLimite">Imposta un limite di vendita giornaliero</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="ImpostaLimiteGiornaliero" id="formImpostaLimite">
                        <div class="form-group">
                            <label for="quantitaAcqua">Limite di acqua da offrire giornaliero (Litri):</label>
                            <input type="number" class="form-control" id="limiteAcqua" name="limiteAcqua" step="0.01" min="0" required placeholder="00,00" />
                        </div>
                        <div class="form-group">
                            <label>Data di inizio</label>
                            <input type="date" class="form-control" name="dataInizio" placeholder="Data di inizio del limite" required />
                        </div>
                        <div class="form-group">
                            <label>Data di fine</label>
                            <input type="date" class="form-control" name="dataFine" placeholder="Data di fine del limite" required />
                        </div>
                        <button type="submit" class="btn btn-primary" id="confermaImpostaLimite">Conferma limite</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    
    -->
    
    <hr style="margin-top: 0.5em; margin-bottom: 1em;">

    <!-- Sezione Gestione Limiti Giornalieri per Azienda -->
    <div>
        <h5>Gestione limiti giornalieri di acquisto per Azienda Agricola</h5>

        @if (Model.LimitiAcquistoPerAzienda == null)
        {
            <h6>Nessuna azienda in elenco.</h6>
        }
        else
        {
            <table id="tabLimitiAzienda" class="table">
                <thead>
                    <tr>
                        <th>Partita IVA</th>
                        <th>Limite Azienda (litri)</th>
                        <th>Data inizo</th>
                        <th>Data fine</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var azienda in Model.LimitiAcquistoPerAzienda)
                    {
                        <tr>
                            <td>@azienda.PartitaIva</td>
                            <td>@azienda.LimiteAcquistoAziendale</td>
                            <td>@azienda.DataInizio</td>
                            <td>@azienda.DataFine</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#modalModificaLimite\@azienda.PartitaIva">Modifica</button>
                            </td>
                        </tr>

                        <!-- Modale per la modifica del limite -->
                        <div id="modalModificaLimite\@azienda.PartitaIva" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalModificaLimite\@azienda.PartitaIva" data-backdrop="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalModificaLimite\@azienda.PartitaIva">Modifica Limite Azienda P.Iva @azienda.PartitaIva</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" asp-page-handler="ModificaLimiteAziendale">
                                            <div class="form-group">
                                                <label for="nuovoLimite">Nuovo Limite Azienda (in litri):</label>
                                                <input type="number" class="form-control" id="nuovoLimite" name="nuovoLimite" step="0.01" min="0" value="@azienda.LimiteAcquistoAziendale" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Data di inizio</label>
                                                <input type="date" class="form-control" name="dataInizio" placeholder="Data di inizio del limite" value="@azienda.DataInizio" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Data di fine</label>
                                                <input type="date" class="form-control" name="dataFine" placeholder="Data di fine del limite" value="@azienda.DataFine" required />
                                            </div>
                                            <input type="hidden" id="partitaIvaAzienda" name="partitaIvaAzienda" value="@azienda.PartitaIva" readonly />
                                            <button type="submit" class="btn btn-primary">Conferma Modifica</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </tbody>
            </table>
        }
        
    </div>


</div>
